<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4afe13be-f439-4ccb-aaab-c026483de4f0/resourcegroups/demo_omar/providers/Microsoft.Web/sites/inhumaciones</ResourceId>
    <ResourceGroup>demo_omar</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://inhumaciones.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>inhumaciones.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>inhumaciones</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$inhumaciones</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=inhumacionesdbserver.database.windows.net;Initial Catalog=inhumaciones_db;Integrated Security=True;User ID=jmsalas;Password=Lima1229!;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SitiosWebForms.Models.ApplicationDbContext, SitiosWebForms" MigrationConfiguration="SitiosWebForms.Migrations.Configuration, SitiosWebForms" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=inhumacionesdbserver.database.windows.net;Initial Catalog=inhumaciones_db;Integrated Security=True;User ID=jmsalas;Password=Lima1229!;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=inhumacionesdbserver.database.windows.net;Initial Catalog=inhumaciones_db;Integrated Security=True;User ID=jmsalas;Password=Lima1229!;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=inhumacionesdbserver.database.windows.net;Initial Catalog=inhumaciones_db;Integrated Security=False;User ID=jmsalas;Password=Lima1229!;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=inhumacionesdbserver.database.windows.net;Initial Catalog=inhumaciones_db;Integrated Security=True;User ID=jmsalas;Password=Lima1229!;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=inhumacionesdbserver.database.windows.net;Initial Catalog=inhumaciones_db;Integrated Security=True;User ID=jmsalas;Password=Lima1229!;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>